:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --decor-color: var(--accent-color);
  --decor-color-hover: var(--accent-color);
  --accent-color: #ff0070;
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --title-color: #db00ff;
  --title-decor-color: var(--bg-color);
  --bg-image: url(../images/cover-image-dark.png);
  --content-title-color: var(--accent-color);
}

:root.theme-dark .header__rec,
:root:not(.theme-light) .header__rec {
  display: flex;
}


@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --decor-color: var(--accent-color);
    --accent-color: #ff0070;
    --accent-color-hover: rgba(255, 0, 112, 0.4);
    --title-color: #db00ff;
    --title-decor-color: var(--bg-color);
    --bg-image: url(../images/cover-image-dark.png);
    --content-title-color: var(--accent-color);
  }
}
