.page {
  font-family: var(--font-family), monospace;
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--text-color);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header {
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  padding: 10px;
  height: 668px;
  min-height: 668px;
}

.header__rec {
  display: none;
}

.header__theme-menu {
  justify-self: end;
  margin-top: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-item {
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header__theme-menu-button {
  background: transparent;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
  line-height: 1;
  color: var(--decor-color);
  padding: 3px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--decor-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--decor-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  padding-top: 70px;
}

.header__description {
  align-self: center;
  justify-self: end;
  max-width: 364px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--title-decor-color);
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px 40px 10px;
}

.content__section {
  display: grid;
  gap: 20px;
}

.section-gallery {
  gap: 10px;
}

.content__title {
  font-size: var(--font-size);
  font-weight: bold;
}


.content__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__card-title {
  font-size: var(--font-size);
  font-weight: bold;
}

.content__card-title_type_regular {
  font-weight: normal;
}

.content__text a {
  color: inherit;
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__text a:hover {
  border-bottom: 1px solid currentColor;
}

.content__text a:focus {
  outline: none;
}

.content__text a:focus-visible {
  outline: 1px solid currentColor;
}

.content__gallery {
  display: grid;
  gap: 10px;
}

.content__picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  place-items: center;
  height: 668px;
  min-height: 668px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 0.825;
  text-align: center;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (min-width: 768px) {

  .decorated-zone::before {
    top: 20px;
    right: 20px;

  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header {
    grid-template-rows: min-content 1fr min-content;
    height: 1024px;
    min-height: 1024px;
    padding-left: 0;
  }

  .header__theme-menu {
    margin-top: 0;
    margin-right: 10px;
    padding-top: 183px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding-top: 0;
    align-self: center;
  }

  .header__description {
    margin-right: 10px;
    margin-bottom: 170px;
  }

  .content__section {
    grid-template-columns: 1fr 2fr;
  }

  main.content {
    padding: 60px 20px;
    gap: 80px;
  }

  .section-gallery .content__title {
    grid-column: 1 / -1;
  }

  .section-gallery .content__gallery {
    grid-column: 1 / -1;
  }

  .section-causes .list {
    grid-column: 1 / -1;
  }

  .content__gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__picture:nth-child(1) {
    grid-column: 1 / 3;
  }

  .content__picture:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .content__picture:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .content__picture:nth-child(5) {
    grid-column: 2 / 4;
  }

  .section-gallery {
    gap: 20px;

  }

  .footer {
    padding-bottom: 0;
    height: 1024px;
    min-height: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}

@media (min-width: 1024px) {
  .header {
    height: 768px;
    min-height: 768px;
    padding-right: 0;
    padding-top: 20px;
  }

  .header__theme-menu {
    margin-top: 0;
    justify-self: center;
    padding: 0;
    margin-right: 0;

  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu-button {
    gap: 40px;
  }

  .header__title {
    justify-self: start;
    padding-top: 155px;
  }

  .header__description {
    max-width: 491px;
    margin-right: 20px;
    margin-bottom: 125px;
  }

  .section-why,
  .section-advices {
    gap: 12px;
  }

  .section-causes .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .footer {
    height: 768px;
    min-height: 768px;
  }

  .footer__title {
    margin-top: 0;
  }

  main.content {
    padding-bottom: 58px;
  }

}